<h1>Welcome to Venmo Crypto Connector Demo</h1>
<p>This is a demonstration of the Venmo Crypto Connector Rails Engine.</p>
<p><%= link_to "Go to Crypto Onboarding", "/crypto", class: "btn btn-primary" %></p>
